<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>書籍情報編集</title>
</head>

<body>
	<header style="background-color: #D2B48C; text-align: center;">
		<h2 style="color: yellow; text-align: left; padding-left: 20px;">書籍情報編集</h2>
	</header>

	<form action="#" th:action="@{/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
		<label>タイトル:</label> <input type="text" th:field="*{title}" /><br />
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></div>

		<label>著者:</label> <input type="text" th:field="*{author}" /><br />
		<label>ステータス:</label> <select th:field="*{status}">
			<option value="reading">今読んでいる</option>
			<option value="read">読み終わった</option>
		</select><br />
		<label>読書開始日:</label>
		<input type="date" th:field="*{startDate}"
			th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" /><br />
		<label>読了日:</label>
		<input type="date" th:field="*{endDate}"
			th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" /><br />
		<label>レビュー</label><br />
		<textarea th:field="*{review}"></textarea>
		<br />
		<div th:if="${#fields.hasErrors('review')}" th:errors="*{review}" style="color: red"></div>

		<button type="submit">更新</button>
	</form>

	<form th:action="@{/delete/{id}(id=${book.id})}" method="post" style="margin-top: 20px;">
		<button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
	</form>

	<a href="/mypage">戻る</a>
</body>

<footer style="background-color: #D2B48C;">
	<p>© 2025 BookShelf</p>
</footer>

</html>
