<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>レビュー一覧</title>
	<style>
		ul {
			padding-left: 0;
			list-style-type: none;
		}

		li {
			margin-bottom: 5px;
		}

		.mypage-link {
			font-size: 16px;
			margin-top: 20px;
			display: block;
			text-decoration: none;
			color: #000;
		}
	</style>
</head>

<body>
	<header style="background-color: #D2B48C; text-align: center;">
		<h2 style="color: yellow; text-align: left; padding-left: 20px;">レビュー一覧</h2>

	</header>

	<div class="mypage-link">
		<a href="/mypage">マイページに戻る</a>
	</div>
	<form action="/review" method="get">
		<label for="author">作者で絞り込む: </label>
		<select name="author" id="author" onchange="this.form.submit()">
			<option value="">すべて</option>
			<option th:each="author : ${authors}" th:value="${author}" th:text="${author}"
				th:selected="${author == selectedAuthor}"></option>
		</select>
		<label for="title">タイトルで絞り込む: </label>
		<select name="title" id="title" onchange="this.form.submit()">
			<option value="">すべて</option>
			<option th:each="title : ${titles}" th:value="${title}" th:text="${title}"
				th:selected="${title == selectedTitle}"></option>
		</select>
	</form>
	<ul>
		<li th:each="book : ${readBooks}">
			<span th:text="${book.review + ' / ' + book.title}"></span><br />
		</li>
	</ul>

	<footer style="background-color: #D2B48C;">
		<p>© 2025 BookShelf</p>
	</footer>

</body>

</html>
